# Требования к доработке IT Roulette - ПРОВЕРКА

## 1. Анимация колеса рулетки
- [x] Колесо крутится в одну сторону, курсор (шарик) в другую
- [x] Время крутки: 7 секунд
- [x] Начальная скорость колеса: 0.5 оборота/секунду
- [x] Начальная скорость шарика: 3 оборота/секунду
- [x] Скорость колеса равномерно снижается к 7й секунде до 0
- [x] Шарик при прохождении одного круга случайно снижает скорость на 0.10-0.15 оборота/секунду
- [x] Скорость шарика не становится меньше 0
- [x] Шарик начинает движение в случайном месте на круге (эта точка считается точкой замедления)

## 2. Игровой стол (Американская рулетка)
- [x] Стол расположен горизонтально
- [x] Числа 1-36 идут рядами слева направо (3 ряда по 12 чисел)
- [x] Сектора 0 и 00 находятся слева от остальных цифр
- [x] Разметка диапазонов 1st 12, 2nd 12, 3rd 12 в нижней части (каждая шириной в треть)
- [x] Диапазоны 1-18, RED, BLACK, 19-36 следующей строкой под диапазонами "N"st 12
- [x] Справа диапазоны 2 к 1 (на каждую строку чисел)
- [x] Можно ставить на все диапазоны
- [x] Выигрыш вычисляется в соответствии с шансом (округлённый до целого)

## 3. Механика игры
- [x] Выбор активного игрока кликом по имени
- [x] Ставки записываются напротив выбранного игрока
- [x] Всплывающее окно видно после спина
- [x] В окне показано: выпавшее число, выигравшие диапазоны, кто сколько выиграл/проиграл
- [x] Кнопка "Крутить рулетку" находится рядом с рулеткой

## 4. Стиль
- [x] Сохранён фиолетово-серый неоновый стиль (#60A5FA акценты)
- [x] Цвета рулетки соблюдены (черное, красное, зеленое для 0 и 00)

Все требования выполнены!
